<?xml version="1.0"?>
<ul class="nav nav-pills nav-justified">
  <li>
    <a href="/lokaal.html">NL lokaal nieuws</a>
  </li>
  <li>
    <a href="/internationaal.html">Internationaal nieuws</a>
  </li>
  <li>
    <a href="/technologie.html">Technologie/ internet</a>
  </li>
  <li>
    <a href="/index.html">NL nieuws</a>
  </li>
  <li>
    <a href="/cultuur.html">Wetenschap/ Cultuur</a>
  </li>
</ul>
